body{
    background-color: #ffffff;
     
}
#intro{
    height: 112vh;
    width: 100vw;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.4)
      ),
      url("intro1.jpg");
      background-repeat: no-repeat;
      background-position: fixed;
}

.parindeyheading {
    width: 40vw;
    margin-left: 40vw;
    position: relative;
  }
  .parindeyheading span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: aliceblue;
    font-weight: bolder;
    margin-top: 55%;
    text-transform: uppercase;
    animation: flip 5s infinite;
    animation-delay: calc(.5s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }

  #ri-hindi{
    font-size: 60px;
    color: #8FC1E3;
  }
  

